.jumbotron {
    text-align: center;
    height: 150px;
    background-color:darkslateblue;
    color: white;
}

.container {
    display: flex;
}

.boxLeft {
    background-color: mediumslateblue;
    padding-top: 5px;
}

.day {
    width: 250px;
}

.cityInfo {
    color: white;
    text-align: left;
}

.fiveDays,
.units,
.cardToday {
    display: flex;
}

.day h5 {
    font-size: smaller;
}

.card-body {
    display: flex;
    justify-content: space-evenly;
}

.values,
.labels {
    text-align: right;
}

.labelDay {
    text-align: left;
}